.calKeys {
    -fx-background-color : #8E8E8E;
    -fx-background-radius:8;
    -fx-border-color:white;
    -fx-border-radius : 8;
    -fx-border-width: 1 1 1 1;
    -fx-background-insets: 0;
}

.formButtons {

    -fx-background-insects : 0;
    -fx-border-width : 1 1 1 1;
    -fx-background-radius : 20px;

}

